/* Styles pour le header */
*{
    
    margin:0;
    padding:0;
}
body{
    width: 100%;
    height: 100%;
    
}
header {
    background-color: #d2c4cf;
    color: #fff;
    padding: 10px;
    text-align: center;
}

  
header nav  {
    list-style: none;
    margin: 0;
    padding: 0;

}
  
header nav li {
    display: inline-block;
    margin-right: 20px;
    gap: 3%;
}
  
header nav a {
    color: #fff;
    text-decoration: none;
    
}
  
  /* Styles pour le contenu principal */
main {
    display: grid;
    flex-direction: center;
    align-items: center;
    padding: 3%;
    background-color: rgb(121, 109, 120);
}
  
section {
    margin-bottom: 40px;
}
  
section h2 {
    font-weight: bold;
    margin-top: 0;
}
  
  /* Styles pour le pied de page */
footer {
    background-color: #dbbcd8;
    color: #fff;
    padding: 5px;
    text-align: center;
    clear: both;
}


.grille{
    display: grid;
    position:grid;
    grid-template-columns: 1;
    background: rosybrown;
    border: 1px solid #ddd;
    border-radius: 8px;
    filter: drop-shadow(30px 10 px 40px);
    overflow: hidden;
    text-align: center;
    padding: 1%;
    
}
.images{
    width:100%;
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
   

}
.images img{
    flex:1;
    min-width:50px;
    width: 10%;
    height: 200px;
    object-fit: cover;
}
.images img:hover{
    flex:3; 
    transform: scale(1.1);
    
}
iframe{
    width: 100vw;
    height: 100vh;
    
}
p{
    align-items: center;
}