  
section h2 {
    font-weight: bold;
    margin-top: 0;
}
  
  /* Styles pour le pied de page */
footer {
    background-color: #dbbcd8;
    color: #fff;
    padding: 5px;
    text-align: center;
    clear: both;
}

.content-blocks{
    display: grid;
    background-color: red;

}
.grille{
    display: grid;
    position:grid;
    grid-template-columns: 1;
    background: rosybrown;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px ;
    overflow: hidden;
    text-align: center;
    
}
.images{
    display: flex;
    justify-content: center;
    margin-right: 1%;
    padding: 3%;
   
    
}